.wrapper {
	display: grid;
	grid-gap: 2em;
	grid-template-columns: repeat(auto-fit, calc(12em + 10px));;
	padding-top: 5%;
	padding-left: 2%
}

h1 {
  text-transform: uppercase;
  font-size: 2.5vw;
}

h2 {
  font-size: 2.5vw;
}

#btn {
	background: none;
	transition: background 250ms ease-in-out,
              transform 150ms ease;
  border-radius: 0.8vw;
}

#btn:hover {
  /*background: lightyellow; cursor: pointer;*/
  background: rgb(253, 221, 170); cursor: pointer;
}

#btn:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#btn:active {
    transform: scale(0.99);
    outline:yellow auto 5
}

.icon{
  width:2em;
}

#info {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#myInfo {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popuptext {
  visibility: hidden;
	font-size: 1.2vw;
  width: 600%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 10%;
  margin-left: -80px;
}

@media (max-width: 600px) {
	.popuptext {
		width: 300%;
		left: 150%;
		font-size: 1.5vw
	}
}

#info .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
