.wrapper {
	display: grid;
	grid-gap: 10%;
	grid-template-columns: repeat(auto-fit, calc(12em + 10px));;
	padding-top: 5%;
	padding-left: 5%
}

h1 {
  text-transform: uppercase;
  font-size: 2.5vw;
}

h2 {
  font-size: 2.5vw;
}

.btn {
  font-size: 1.5vw;
  float: right;
  margin-right: 5%;
  font-weight: bold;
  margin-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%
}

#btn {
	background: rgb(255, 225, 185);
	transition: background 250ms ease-in-out,
              transform 150ms ease;
  border-radius: 0.8vw;
	border-color: rgb(253, 202, 124) ;
	border-style: outset;
	font-family: "Verdana";
}

#btn:hover {
  /*background: lightyellow; cursor: pointer;*/
  background: rgb(253, 202, 124);
	cursor: pointer;
}

#btn:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#btn:active {
    transform: scale(0.99);
    outline:yellow auto 5
}

#info {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#myInfo {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popuptext {
  visibility: hidden;
	font-size: 1vw;
  width: 600%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -80px;
}

#info .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.icon{
  width: 70%;
  float:left
}

.icons {
  margin-top: 5%;
  display:grid;
  grid-template-columns: 33% 33% 33%;
  margin-left: 10%;
  margin-right: 10%;
  width: 30%
}
